@import "reset";

// mixin
@mixin float-mobile() {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}


// Screen
// ======
$base-font-size: 16px;
$base-line-height: 24px;
$susy: ( 
    columns: 12, 
    gutters: 0, 
    flow: ltr, 
    math: fluid, 
    output: float, 
    gutter-position: 
    after, globe-box-sizeing: 
    border-box, 
    last-flow: to, 
    debug: (image: hide), 
);
$desktop: ( 
    columns: 12,
);
$pad: ( 
    columns: 4, 
);
$mobile: ( 
    columns: 4, 
);

body {
    background-color: #000;
}
.container {
    height: 100vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}

.user {
    background: #ccc;
    position: relative;
    .links {
        position: absolute;
        right: 0em;
        bottom: 0em;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 80px;
            // background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3)));
            background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        }
        .link {
            position: relative;
            >a {
                display: inline-block;
                padding: 0.5em;
                font-size: 30px;
                color: #fff;

                float: right;
                &:hover {
                    transform: scale(1.4);
                    transition: all .3s;
                }
            }
        }
        .website:hover {
            > a {
                color: #ccc;
            }
        }
        .facebook:hover {
            > a {
                color: #3b5998;
            }
        }
        .twitter:hover {
            > a {
                color: #4099ff;
            }
        }
        .linkedin:hover {
            > a {
                color: #0077b5;
            }
        }
        .behance:hover {
            > a {
                color: #053eff;
            }
        }
        .dribbble:hover {
            > a {
                color: #ea4c89;
            }
        }
    }
    .userpic {
        padding-top: 100%;
        position: relative;
        .desktop-pic,
        .mobile-pic {
            position: absolute;
            top:0px;
            img {
                width: 100%;
            }
        }
    }
    @media (min-width: 700px) {
        @include float-mobile();
        // [class^=desktop] {
        //     display: none;
        // }
    }
    @media (min-width: 1000px) {
        width: 66.66667%;
        float: left;
        [class^=mobile] {
            display: none;
        }
        .userpic {
            padding-top: 37.49%;
        }
    }
}

.work {
    position: relative;
    &:hover .day {
        transform: scale(1.2);
        transition: all .3s;
    }
    .pic {
        padding-top: 75%;
        background-color: #ccc;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: 0px;
        }
    }
    @media (min-width: 700px) {
        @include float-mobile();
    }
    @media (min-width: 1000px) {
        width: 33.33333%;
        float: left;
    }
    .day {
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        bottom: 1em;
        left: 1em;
        p {
            font-size: 1.5em;
            line-height: 1.5;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        span {
            position: relative;
            margin-left: 4.5em;
            bottom: 0.6em;
            white-space: nowrap;
        }
    }
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
    }
}